* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #1b6d85;
}

.header .title {
    font-size: 18px;
    font-weight: 100;
    line-height: 60px;
    color: white;
    margin-left: 15px;
}

.backend {
    float: right;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
}

.pub_info {
    margin-top: 10px;
    color: #3c763d;
}

.article_info {
    margin-bottom: 20px;
}

/*input.author {*/
    /*background-position: 3px -3px;*/
/*}*/


