<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link rel="shortcut icon" href=" /static/imgs/login.ico"/>
    <link rel="stylesheet" href="/static/blog/bs/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/blog/fa/web-fonts-with-css/css/fontawesome-all.min.css">
</head>
<body>
{#    <h3>登录界面</h3>#}
<div class="container" style="background-color: #eeeeee">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <div class="form-group col-lg-offset-4">
                <i class="fas fa-user-circle fa-10x"></i>
                <p>sign in with your account</p>
            </div>
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="users"><i class="fas fa-user"></i>用户名</label>
                    <input type="text" id="users" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pwd"><i class="fas fa-key"></i>密码</label>
                    <input type="password" id="pwd" class="form-control">
                </div>
                <div class="form-group" style="height: 10px">
                    <span class="error form-group"></span>
                </div>
{#                验证码功能#}
{#                <div class="form-group">#}
{#                    <label for="pwd"><i class="fas fa-check-circle"></i>验证码</label>#}
{#                    <div class="row">#}
{#                        <div class="col-md-6">#}
{#                            <input type="text" class="form-control" id="valid_code"/>#}
{#                        </div>#}
{#                        <div class="col-md-6">#}
{#                            <img id="code_img" width="260" height="32" src="/get_validCode_img/">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="form-group">
                     <button   id="popup-submit" type="button" class="btn btn-info login_btn col-lg-3"><i
                        class="fa fa-sign-in-alt col-lg-pull-1"></i>登录
                </button>
                <p> <a href="/register/" class="btn btn-success col-lg-3 pull-right">注册</a></p>

                <div id="popup-captcha"></div>
                </div>




{#                                    <input type="button" class="btn btn-info login_btn col-lg-3 pull-right" value="sign in">#}

            </form>
        </div>
    </div>
</div>
</body>
<script src="/static/JS/jquery-3.3.1.min.js"></script>
<script>
    {#刷新验证码#}
     $('#code_img').click(function () {
       $(this)[0].src+="?";
    });

</script>
<script src="/static/gt/gt.js"></script>
<script>
    var handlerPopup = function (captchaObj) {
        // 成功的回调
        captchaObj.onSuccess(function () {
            var validate = captchaObj.getValidate();
            $.ajax({
                url: "/pc-geetest/ajax_validate", // 进行二次验证
                type: "post",
                dataType: "json",
                data: {
                    username: $('#users').val(),
                    password: $('#pwd').val(),
                    geetest_challenge: validate.geetest_challenge,
                    geetest_validate: validate.geetest_validate,
                    geetest_seccode: validate.geetest_seccode,
                    csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {
                    if (data && (data.status === "success")) {
                        location.href = '/index/';
                    } else {
                        location.href = '/login/';
                    }
                }
            });
        });
        $("#popup-submit").click(function () {
             $.ajax({
            url:"",
            type:'post',
            data:{
                user:$('#users').val(),
                pwd: $('#pwd').val(),
                valid_code: $('#valid_code').val(),
                csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),

            },
            success:function (data) {
              if (data.user){
                  if(location.search){
                        location.href = location.search.slice(6)
                  }else {
                       captchaObj.show();
                  }
              }else{
                  $('.error').text(data.msg).css({'color':'red'});
                  setTimeout(function () {
                        $('.error').text('');
                  }, 1000);
              }
            }
        });

        });
        // 将验证码加到id为captcha的元素里
        captchaObj.appendTo("#popup-captcha");
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    // 验证开始需要向网站主后台获取id，challenge，success（是否启用failback）
    $.ajax({
        url: "/pc-geetest/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
         csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),
        success: function (data) {
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerPopup);
        }
    });
</script>
</html>